<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span><%= f.label :title, "Название книги:" %></span>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <span><%= f.label :author, "Автор:" %></span>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <span><%= f.label :genre, "Жанр(ы):" %></span>
    <%= f.text_field :genre %>
    <%= f.text_field :genre_2 %>
    <%= f.text_field :genre_3 %>
  </div>
  <!--div class="field">
    <%= f.label :date_of_publication %><br>
    <%= f.date_select :date_of_publication %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div-->
  <div class="field">
    <span><%= f.label :summary, "Краткое описание:" %></span>
    <%= f.text_area :summary, :size => "40x7" %>
  </div>
  <!--div class="field">
    <%= f.label :buy_link %><br>
    <%= f.text_field :buy_link %>
  </div-->
  <%#= hidden_field_tag(:active, false) %>
  <div class="actions">
    <%= f.submit "Отправить"  %>
  </div>
<% end %>
