<h1>Не знаете, что почитать?</h1>
<%= link_to 'Есть идея', @books.sample, :class=>"idea" %>
<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Genre 2</th>
      <th>Genre 3</th>
      <th>Date of publication</th>
      <th>Link</th>
      <th>Summary</th>
      <th>Buy link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td><%= book.genre_2 %></td>
        <td><%= book.genre_3 %></td>
        <td><%= book.date_of_publication %></td>
        <td><%= book.link %></td>
        <td><%= book.summary %></td>
        <td><%= book.buy_link %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<br>

<%#= link_to 'New Book', new_book_path %>
