<p id="notice"><%= notice %></p>

<h1>&laquo;<%= @book.title %>&raquo;, <%= @book.author %></h1>
<div class="description"><%= @book.summary %></divi>
<div class="genre">Жанр: <%= @book.genre %>
<% if @book.genre_2.nil? then %>
, <%= @book.genre_2 %>
<% end %>
<% if @book.genre_2.nil? then %>
, <%= @book.genre_3 %>
<% end %>
</div>
<%= link_to 'Читать', @book.link, target: "_blank", :class => "read" %>
<%= link_to 'Еще совет', @books.sample, :class=>"more" %>

<!--
<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Genre 2:</strong>
  <%= @book.genre_2 %>
</p>

<p>
  <strong>Genre 3:</strong>
  <%= @book.genre_3 %>
</p>

<p>
  <strong>Date of publication:</strong>
  <%= @book.date_of_publication %>
</p>

<p>
  <strong>Link:</strong>
  <%= @book.link %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @book.summary %>
</p>

<p>
  <strong>Buy link:</strong>
  <%= @book.buy_link %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
-->
