<!DOCTYPE html>
<html>
<head>
  <title>Bookadvicer | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">
    $(function() {
      stLight.options({publisher: "ur-bd4710e0-4fbb-f317-f543-ab7a4bc9af74", doNotHash: false, doNotCopy: false, hashAddressBar: false});
     });
  </script>
</head>
<body>
<div id="container">
    <%= render 'layouts/header' %>
    <div class="content"><%= yield %></div>
    <%= render 'layouts/footer' %>
</div>
</body>
</html>
